<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="style.css">
  
  <title>Document</title>
</head>
<body>

<div id="pre-load" class="loader">
   <!-- Animación Trade Stock -->
   <div class="loader-inner">
      <div class="loader-logo">
        <span class="logo-text">trade stock</span>
      </div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
   </div>
</br>
   <!-- Barra de Navegación Horizontal -->
   <nav id="main-nav">
     <a href="#">
       <span>Home</span>
       <svg height="6px" width="100%" xmlns="http://www.w3.org/2000/svg">
         <g class="pink">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
         <g class="blue">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
       </svg>
     </a>
     <a href="#">
       <span>Work</span>
       <svg height="6px" width="100%" xmlns="http://www.w3.org/2000/svg">
         <g class="pink">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
         <g class="blue">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
       </svg>
     </a>
     <a href="#">
       <span>Blog</span>
       <svg height="6px" width="100%" xmlns="http://www.w3.org/2000/svg">
         <g class="pink">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
         <g class="blue">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
       </svg>
     </a>
     <a href="#">
       <span>About</span>
       <svg height="6px" width="100%" xmlns="http://www.w3.org/2000/svg">
         <g class="pink">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
         <g class="blue">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
       </svg>
     </a>
     <a href="#">
       <span>Contact</span>
       <svg height="6px" width="100%" xmlns="http://www.w3.org/2000/svg">
         <g class="pink">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
         <g class="blue">
           <rect x="-101%" y="0" width="100%" height="3"></rect>
           <rect x="-101%" y="3" width="100%" height="3"></rect>
         </g>
       </svg>
     </a>
   </nav>
</div>

<!-- SOLO ESTAS 2 LIBRERÍAS DE GSAP SON NECESARIAS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/EasePack.min.js"></script>
<script src="js.js"></script>

</body>
</html>